html {
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
}

body {
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100vh;
}